@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";


@theme {
  --font-heading: "Sora", sans-serif;
  --font-body: "Inter", sans-serif;
}

.marquee{
  animation: marquee 20s linear infinite;
  width: max-content;
}

.marquee:hover{
  animation-play-state: paused;
}

@keyframes marquee{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}